<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
      <section name="log4net" requirePermission="false" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
      <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
          <file value="Logs/log.txt" />
          <appendToFile value="true" />
          <rollingStyle value="Size" />
          <maxSizeRollBackups value="10" />
          <maximumFileSize value="8192KB" />
          <staticLogFileName value="true" />
          <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
          </layout>
      </appender>
      <logger name="FooLog">
          <level value="All" />
          <appender-ref ref="LogFileAppender" />
      </logger>
  </log4net>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="LoginWin/Login.aspx" />
      <!--<forms name="teste" cookieless="UseCookies" enableCrossAppRedirects="true" loginUrl="~/LoginWin/LoginWin.aspx" protection="All" timeout="30" />-->
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="LoginWeb">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
          <windowsAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <location path="LoginWin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <system.webServer>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="/POC3/LoginWeb/401.htm" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>